version: '3.8'

services:
  zeitung-downloader:
    image: ghcr.io/bonzei123/wzarchiv:latest
    container_name: zeitung-downloader
    restart: always
    ports:
      - "6789:5000"
    environment:
      - RUNNING_IN_DOCKER=true
      - TZ=Europe/Berlin
    volumes:
      - ./downloads:/app/downloads
    env_file:
      - .env